name: covector status
on: [pull_request]

jobs:
  covector:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6
          run_install: true
          
      - name: covector status
        uses: jbolda/covector/packages/action@covector-v0
        with:
          command: 'status'
